body{
    background-color: #e4553e;
    font-family: "Courier New", courier, monospace;
}

h1 {
    color: #ebf576;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px;
}

h4{
    color: #ebf576;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

nav ul{
    display: inline;
    text-align: center;
}

div{
    text-align:center;
}

div cite{
    display: block;
}

p{
    font-weight: bold;
}

a{
    color: #ffffff;
}

h5{
    color: #ffffff;
    font-size:16px;
}

em{
    font-weight: normal;
    color: #ebf576;
}
